p {
  font-family: Lato;
}

.content {
  padding-top: 20px;
}

.app-top-card {
  /* max-width: 400px; */
  width: 400px;
  margin-top: 20px;
}

.top-card-container {
  display: flex;
  justify-content: center;  
}

mat-card-title-group {
  direction: rtl;
}

.app-header-image {
  /* for navbar, unused at the moment */
  height: 100%;
  padding: 2rem ;
  border-radius: 50%;
}

app-rant-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
