p {
  font-family: Lato;
}

.content {
  padding-top: 75px;
}

/* .rants-list:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

.rants-list:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
} */

app-sticky-header {
  z-index: 1000;
  color: white;
  background-color: #ab47bc;
  font-size: 2rem;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

app-rant-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
