<!-- <div *ngIf="rantDetail">
    <p>{{rantDetail.id}}</p>
    <p>{{rantDetail.description}}</p>
    <p>{{rantDetail.path}}</p>
    <img [src]="imageToShow"
     alt="Place image title"
     *ngIf="!isImageLoading; else noImageFound">
<ng-template #noImageFound>
     <img src="fallbackImage.png" alt="Fallbackimage">
</ng-template>
</div> -->
<mat-card *ngIf="rantDetail" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Real_Titinski</mat-card-title>
      <mat-card-subtitle>במרתף של אמא</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="!isImageLoading; else noImageFound"
     mat-card-image [src]="imageToShow" alt="image described by following description">
     <ng-template #noImageFound>
        <img src="/assets/images/not-found-md.jpg" alt="Fallbackimage">
   </ng-template>
    <mat-card-content>
        <p>{{rantDetail.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>